Okay, here are comprehensive notes on "Data Analysis Using Python" based on the provided transcript. These notes are designed to be understandable, include Python code examples with explanations, suggest diagrams/images, and provide practice questions. You should be able to copy and paste this into Google Docs, and then manually insert the images where indicated.

**Comprehensive Notes for Data Analysis Using Python**

---

**Module 1: Introduction to Data Analysis and Python Environment**

**1.1 What is Data Analysis?**

* **Definition:** Data analysis is the systematic process of examining, cleaning, transforming, and interpreting raw data to extract meaningful insights, identify patterns and trends, answer questions, and support informed decision-making. Think of it as being a detective for data, looking for clues (insights) within a pile of evidence (raw data).
* **Goal:** To turn raw data into actionable knowledge.
* **Process:** It involves several stages:
    1.  **Asking the right questions:** What do you want to find out?
    2.  **Data Collection:** Gathering raw data from various sources.
    3.  **Data Cleaning (Inspection & Cleansing):** Identifying and handling errors, inconsistencies, missing values, and outliers in the data. This is like preparing your ingredients before cooking.
    4.  **Data Transformation:** Converting data into a suitable format for analysis and modeling. This might involve changing data types, creating new features, or restructuring data.
    5.  **Data Modeling & Analysis:** Applying statistical techniques, algorithms, and computational tools to explore the data, find patterns, test hypotheses, and build predictive models.
    6.  **Interpretation & Communication:** Understanding the results of the analysis and communicating the findings effectively, often through reports, visualizations, and dashboards.
* **Importance:** Data analysis is vital across many fields like business (to understand customer behavior, optimize marketing), science (to analyze experimental results), finance (for risk assessment, fraud detection), healthcare (to improve patient outcomes), and social sciences (to study societal trends).

**1.2 Why Python for Data Analysis?**

Python has become a dominant language for data analysis for several compelling reasons:

* **Simplicity and Readability:**
    * **Understandable Definition:** Python's syntax is designed to be clear, concise, and human-readable, resembling plain English. This lowers the learning curve, especially for those new to programming.
    * **Example:** Compare `print("Hello")` in Python to more verbose syntax in other languages.
* **Extensive Libraries:**
    * **Understandable Definition:** Python offers a vast collection of specialized toolkits (libraries) built specifically for data analysis tasks. These libraries provide pre-written, optimized code, so you don't have to build everything from scratch.
    * **Key Libraries:** Pandas (data manipulation), NumPy (numerical computing), Matplotlib/Seaborn (visualization), Scikit-learn (machine learning), Statsmodels (statistical modeling).
* **Large Community Support:**
    * **Understandable Definition:** A massive global community of Python users and developers means abundant learning resources (tutorials, blogs, courses), quick help when you're stuck (forums like Stack Overflow), and continuous improvement of the language and its libraries.
* **Integration Capabilities:**
    * **Understandable Definition:** Python plays well with other technologies. It can be easily integrated with other programming languages (like C++, Java), databases, web frameworks, and big data tools.
* **Scalability:**
    * **Understandable Definition:** Python can effectively handle datasets of varying sizes, from small spreadsheets to large enterprise databases. Performance for very large datasets can be enhanced using optimized libraries and techniques for parallel processing.
* **Versatility:** Python is a general-purpose language, meaning it's not just for data analysis. You can use it for web development, automation, AI, and more, making it a valuable skill overall.

**1.3 Core Python Libraries for Data Analysis**

These are the workhorse libraries you'll encounter frequently:

* **Pandas:**
    * **Definition:** Pandas (Python Data Analysis Library) is an open-source library that provides high-performance, flexible, and intuitive data structures (like tables) and tools for data manipulation and analysis. It's the cornerstone for most data wrangling tasks in Python.
        * *Reference: [1] (Implied)*
    * **Key Features:**
        * **DataFrame Object:** A 2-dimensional, size-mutable, tabular data structure with labeled rows and columns (like a spreadsheet or SQL table). It can hold heterogeneous data types (numbers, strings, booleans, etc.). *[1]*
        * **Series Object:** A 1-dimensional labeled array, capable of holding any data type. Think of it as a single column in a DataFrame.
        * **Data Input/Output (I/O):** Comprehensive tools for reading data from and writing data to various file formats, including CSV, Excel, SQL databases, JSON, HTML, HDF5, and more. *[1]*
        * **Data Alignment and Missing Data Handling:** Smart alignment of data based on labels and robust tools for detecting, filtering, and filling missing data (e.g., `NaN`). *[1]*
        * **Reshaping and Pivoting:** Powerful functions for restructuring datasets, such as pivoting, stacking, unstacking, and melting. *[1]*
        * **Label-based Slicing, Indexing, and Subsetting:** Flexible ways to select, filter, and retrieve specific parts of large datasets using labels or positions. *[1]*
        * **Group By Engine:** Efficient mechanism for splitting data into groups based on some criteria, applying a function to each group (e.g., sum, mean), and then combining the results. *[1]*
        * **Merging and Joining:** SQL-like operations for combining datasets based on common columns or indices. *[1]*
        * **Time Series Functionality:** Specialized tools for working with time-stamped data, including date range generation, frequency conversion, moving window statistics, and date shifting. *[1]*
        * **Performance:** Critical internal operations are often written in Cython or C for speed. *[1]*
    * **Official Documentation:** [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/) (Link based on common knowledge, as specific URL for [1] isn't provided beyond context)

* **NumPy:**
    * **Definition:** NumPy (Numerical Python) is the foundational package for numerical computation in Python. It provides powerful support for large, multi-dimensional arrays and matrices, along with a vast collection of mathematical functions to operate on them efficiently. Many other data science libraries, including Pandas, are built on top of NumPy.
        * *Reference: [3]*
    * **Key Features:**
        * **N-dimensional Array Object (`ndarray`):** An efficient, powerful data structure for storing and manipulating homogeneous numerical data (all elements of the same type). *[4]*
        * **Broadcasting Functions:** A mechanism that allows NumPy to perform arithmetic operations on arrays of different shapes, simplifying code and avoiding explicit loops. *[4]*
        * **Tools for Integrating C/C++ and Fortran Code:** Allows for leveraging code written in these languages for performance-critical tasks. *[4]*
        * **Linear Algebra, Fourier Transform, and Random Number Capabilities:** Comprehensive mathematical functions for advanced computations. *[4]*
    * **Official Documentation:** [NumPy Documentation](https://numpy.org/doc/) *[4]*

* **Matplotlib:**
    * **Definition:** Matplotlib is a comprehensive and widely-used Python library for creating static, animated, and interactive visualizations in a variety of formats. It provides fine-grained control over every aspect of a plot.
        * *Reference: [6]*
    * **Key Features:**
        * **Variety of Plots:** Can generate line plots, scatter plots, bar charts, histograms, pie charts, error charts, contour plots, and much more. *[6]*
        * **Figures and Axes:** Plots are typically created within a `Figure` object, which can contain one or more `Axes` objects. An `Axes` represents an individual plot or subplot with its own coordinate system. *[6]*
        * **Artist Objects:** Almost everything you see on a Matplotlib figure is an `Artist` (e.g., text objects, lines, patches). This object-oriented approach allows for detailed customization. *[6]*
        * **Pyplot Module (`matplotlib.pyplot`):** A collection of functions that provide a MATLAB-like interface, making it easy to create plots quickly. *[8]*
        * **Customization:** Offers extensive control over colors, line styles, fonts, labels, legends, and annotations. *[6]*
    * **Official Documentation:** [Matplotlib Documentation](https://matplotlib.org/stable/contents.html) *[7]*

* **Seaborn:**
    * **Definition:** Seaborn is a Python data visualization library built on top of Matplotlib. It provides a higher-level interface for creating attractive and informative statistical graphics, often requiring less code than Matplotlib for common statistical plots.
        * *Reference: [9]*
    * **Key Features:**
        * **Statistical Plotting:** Specialized functions for visualizing statistical relationships, distributions, and categorical data.
        * **Integration with Pandas:** Works seamlessly with Pandas DataFrames, making it easy to map DataFrame columns to plot aesthetics. *[9]*
        * **Aesthetic Defaults:** Comes with visually appealing default styles, themes, and color palettes. *[9]*
        * **High-Level Functions:** Simplifies the creation of complex plots like heatmaps, violin plots, pair plots, joint plots, and regression plots with built-in statistical estimation. *[11]*
    * **Official Documentation:** [Seaborn Documentation](https://seaborn.pydata.org/) *[10]*

* **Scikit-learn:**
    * **Definition:** Scikit-learn is a comprehensive and robust open-source machine learning library for Python. It provides a wide range of tools for supervised and unsupervised learning, model selection, preprocessing, and evaluation.
        * *Reference: [13], [14]*
    * **Key Features:**
        * **Supervised Learning Algorithms:** Includes algorithms for classification (e.g., Logistic Regression, SVM, Decision Trees, Random Forests) and regression (e.g., Linear Regression, Ridge Regression). *[14]*
        * **Unsupervised Learning Algorithms:** Offers algorithms for clustering (e.g., K-Means, DBSCAN), dimensionality reduction (e.g., PCA, t-SNE), and anomaly detection. *[14]*
        * **Data Preprocessing:** Provides tools for feature scaling, normalization, encoding categorical data, handling missing values, and feature extraction. *[13]*
        * **Model Selection:** Includes methods for splitting data into training and testing sets, cross-validation, and hyperparameter tuning (e.g., GridSearchCV). *[13]*
        * **Model Evaluation:** Offers various metrics for assessing the performance of classification, regression, and clustering models. *[13]*
        * **Interoperability:** Designed to work well with NumPy and SciPy.
    * **Official Documentation:** [Scikit-learn Documentation](https://scikit-learn.org/stable/) *[14]*

* **Statsmodels:**
    * **Definition:** Statsmodels is a Python library that focuses on providing classes and functions for estimating many different statistical models, conducting statistical tests, and performing statistical data exploration. It often provides more detailed statistical output and diagnostics compared to Scikit-learn for classical statistical models.
        * *Reference: [16]*
    * **Key Features:**
        * **Statistical Models:** Extensive support for linear models (OLS), generalized linear models (GLM), time series analysis (ARIMA, VAR), survival analysis, and more. *[17]*
        * **Statistical Tests:** A wide array of hypothesis tests, goodness-of-fit tests, and diagnostic tests.
        * **R-style Formulas:** Allows model specification using R-like formulas in conjunction with Pandas DataFrames (e.g., `response ~ predictor1 + predictor2`). *[17]*
        * **Detailed Results:** Provides comprehensive summary outputs for model estimators, including standard errors, p-values, confidence intervals, and various statistical metrics. *[17]*
    * **Official Documentation:** [Statsmodels Documentation](https://www.statsmodels.org/stable/index.html) *[17]*

**1.4 Setting Up the Python Environment**

A correctly configured Python environment is essential for a smooth data analysis workflow.

* **Recommended Method: Anaconda Distribution**
    * **What it is:** Anaconda is a free and open-source distribution of Python and R, specifically tailored for scientific computing and data science.
    * **Benefits:** It comes with Python, the `conda` package and environment manager, and many of the core data analysis libraries (Pandas, NumPy, Matplotlib, Scikit-learn, etc.) pre-installed. This simplifies setup significantly.
    * **Installation:** Download from [anaconda.com](https://www.anaconda.com/products/distribution) and follow the installation instructions for your operating system.
* **Alternative: Standard Python + `pip`**
    1.  **Install Python:** Download Python directly from [python.org](https://www.python.org/downloads/).
    2.  **Use `pip` (Python Package Installer):** `pip` is usually included with Python. You can install libraries individually from the command line/terminal:
        ```bash
        pip install pandas numpy matplotlib seaborn scikit-learn statsmodels
        ```
* **Virtual Environments (Highly Recommended):**
    * **Why?** To manage dependencies for different projects separately. This prevents conflicts where one project needs a specific version of a library, and another project needs a different version.
    * **How?**
        * **Using `venv` (built-in with Python):**
            ```bash
            # Create a virtual environment (e.g., named 'myenv')
            python -m venv myenv
            # Activate it
            # On Windows:
            # myenv\Scripts\activate
            # On macOS/Linux:
            # source myenv/bin/activate
            # Install packages within the activated environment
            pip install ...
            # Deactivate when done
            # deactivate
            ```
        * **Using `conda` (with Anaconda):**
            ```bash
            # Create a virtual environment (e.g., named 'my_conda_env') with specific Python version
            conda create --name my_conda_env python=3.9
            # Activate it
            conda activate my_conda_env
            # Install packages (can specify conda or pip install)
            conda install pandas
            # or
            # pip install pandas
            # Deactivate when done
            conda deactivate
            ```
    * `[Diagram: Flowchart showing decision: New Project? -> Yes -> Create Virtual Environment -> Activate -> Install Libraries. If Existing Project -> Activate Environment.]`

---

**Module 1: Practice Questions**

1.  **Short Answer:** In your own words, what is the primary goal of data analysis?
2.  **MCQ:** Which of the following is NOT a typical stage in the data analysis process?
    * A) Data Collection
    * B) Software Development
    * C) Data Cleaning
    * D) Interpretation & Communication
3.  **List:** Name three key advantages of using Python for data analysis.
4.  **Fill-in-the-Blanks:** The Pandas library's primary 2D data structure is called a \_\_\_\_\_\_\_\_\_\_, while its 1D data structure is called a \_\_\_\_\_\_\_\_\_\_.
5.  **MCQ:** Which Python library is fundamental for numerical computations and provides the `ndarray` object?
    * A) Pandas
    * B) Matplotlib
    * C) NumPy
    * D) Scikit-learn
6.  **Matching:** Match the library with its primary purpose:
    * Matplotlib         -> A) Machine Learning
    * Seaborn            -> B) Statistical Modeling, Detailed Output
    * Scikit-learn       -> C) Foundational Plotting
    * Statsmodels        -> D) High-level Statistical Visualization
7.  **Short Answer:** Why are virtual environments recommended for Python projects?
8.  **Command:** Write the `pip` command to install the Pandas and NumPy libraries.
9.  **Command:** Write the `conda` command to create a new environment named `data_analysis_env` with Python version 3.10.
10. **True/False:** Python's syntax is generally considered more verbose and harder to read than languages like Java or C++.
11. **Short Answer:** What is the role of the `pyplot` module in Matplotlib?
12. **MCQ:** Which library would you primarily use if you wanted to create an interactive heatmap of a correlation matrix with minimal code?
    * A) NumPy
    * B) Seaborn
    * C) Statsmodels
    * D) Base Python
13. **Explain:** What does it mean when it's said that critical code paths in Pandas are written in "Cython or C"?
14. **Short Answer:** Give an example of how Pandas' "Group By Engine" might be used.
15. **True/False:** Anaconda is a Python library, similar to Pandas or NumPy.

---

**Module 2: Pandas Fundamentals - Data Structures and Basic Operations**

This module introduces the core data structures in Pandas, `DataFrame` and `Series`, and covers essential operations for loading, inspecting, selecting, and saving data.

**2.1 Pandas Data Structures: `DataFrame` and `Series`**

* **`Series`:**
    * **Definition:** A Pandas `Series` is a one-dimensional labeled array capable of holding data of any type (integers, strings, floating-point numbers, Python objects, etc.). The axis labels are collectively referred to as the **index**. You can think of a `Series` as a single column in a spreadsheet or a single column from a SQL table.
    * **Key Characteristics:**
        * One-dimensional.
        * Homogeneous data (typically, though can hold mixed types if `dtype=object`).
        * Labeled index (can be numbers, strings, dates, etc.).
        * ***Size-immutable (length cannot be changed once created, but values can be)***.
    * **Creation:**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#From a Python List

my_list = [10, 20, 30, 40, 50]
s_from_list = pd.Series(my_list, dtype='int64') #explicit dtype for clarity
print("Series from list:\n", s_from_list)

Series from list:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#From a Python List with custom index

s_list_custom_index = pd.Series([1, 3, 5, np.nan, 6, 8], index=['a', 'b', 'c', 'd', 'e', 'f'])

print("\nSeries from list with custom index:\n", s_list_custom_index)

Series from list with custom index:
 a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [ ]:
# From a NumPy array with a specified index
s_numpy = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print("\nSeries from NumPy array with index:\n", s_numpy)

Series from NumPy array with index:
 a   -0.578423
b    0.465654
c   -0.103389
d   -1.081938
e    0.507545
dtype: float64

In [ ]:
# From a Python dictionary
s_dict_data = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

s_dict = pd.Series(s_dict_data, dtype='int64')  # Explicit dtype for clarity
print("\nSeries from dictionary:\n", s_dict)

Series from dictionary:
 Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

* **Explanation:**
            * The first example creates a `Series` from a list. Pandas automatically assigns a default integer index starting from 0.
            * The second example shows creating a `Series` with a custom index provided by a list of labels. `np.nan` represents a missing value.
            * The third example uses a NumPy array for data and specifies an index.
            * The fourth example demonstrates creating a `Series` from a Python dictionary. The dictionary keys are used as the index labels, and the dictionary values become the data for the `Series`.

* **`DataFrame`:**
    * **Definition:** A Pandas `DataFrame` is a two-dimensional, **size-mutable (can add/remove columns/rows),** and potentially heterogeneous (columns can have different data types) tabular data structure with labeled axes (rows and columns).** It's the most commonly used Pandas object and can be thought of as a dictionary of `Series` objects, an in-memory spreadsheet, a SQL table, or a structured collection of data.**
      
    * **Key Characteristics:**
        * Two-dimensional (rows and columns).
        * Can hold columns of different data types.
        * Labeled rows (index) and labeled columns.
        * Size-mutable (can change shape).
    * **Creation:**

In [ ]:

# From a dictionary of lists or Series
data_dict = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
             'Age': [25, 30, 35, 28],
             'City': ['New York', 'Paris', 'London', 'Tokyo']}

df_from_dict = pd.DataFrame(data_dict)
print("DataFrame from dictionary of lists:\n", df_from_dict)

DataFrame from dictionary of lists:
       Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
3    David   28     Tokyo

In [ ]:
# From a list of dictionaries
data_list_dict = [{'Name': 'Eve', 'Age': 22, 'City': 'Berlin'},
                  {'Name': 'Frank', 'Age': 29, 'City': 'Madrid', 'Occupation': 'Engineer'}]

df_from_list_dict = pd.DataFrame(data_list_dict)  # Pandas handles missing keys by inserting NaN
print("\nDataFrame from list of dictionaries:\n", df_from_list_dict)

DataFrame from list of dictionaries:
     Name  Age    City Occupation
0    Eve   22  Berlin        NaN
1  Frank   29  Madrid   Engineer

In [ ]:
# From a NumPy array, with a datetime index and labeled columns
dates = pd.date_range('2025-01-01', periods=6)  # Creates 6 dates starting from Jan 1, 2025
random_data = np.random.randn(6, 4)  # 6x4 array of random numbers

df_from_numpy = pd.DataFrame(random_data, index=dates, columns=['A', 'B', 'C', 'D'])
print("\nDataFrame from NumPy array with datetime index and labeled columns:\n", df_from_numpy)

DataFrame from NumPy array with datetime index and labeled columns:
                    A         B         C         D
2025-01-01 -0.714697  0.446932 -1.195579 -0.461952
2025-01-02 -2.442862  0.089916 -1.301305 -1.636605
2025-01-03 -0.743951 -0.902569 -1.504037 -0.742583
2025-01-04  0.184980  1.884691 -0.569112 -1.520992
2025-01-05 -0.554921  0.329456  2.055096 -0.484093
2025-01-06 -0.041739 -1.491716  0.037951 -0.693801

* **Explanation:**
            * The first example constructs a `DataFrame` from a dictionary where keys are column names and values are lists representing column data.
            * The second example uses a list of dictionaries, where each dictionary forms a row. Pandas intelligently handles missing keys by filling with `NaN`.
            * The third example shows creating a `DataFrame` from a 2D NumPy array, explicitly providing row index labels (here, dates) and column labels.




**2.2 Loading Data into Pandas DataFrames**

Pandas excels at reading data from various file formats into DataFrames.

* **Definition of a Dataset:**
    * **Understandable Definition:** A dataset is simply a collection of data, usually organized in a structured way (like a table) so that it can be easily accessed, managed, and analyzed. Think of it as the raw material for your data analysis project.

* **CSV File Format:**
    * **Understandable Definition:** A CSV (Comma-Separated Values) file is a plain text file where data is stored in a tabular format. Each line in the file represents a row of data, and the values within each row are separated by commas (or sometimes other characters like semicolons or tabs). It's a very common and simple format for exchanging tabular data.

* **Header Row:**
    * **Understandable Definition:** In a tabular data file (like a CSV or spreadsheet), the header row is the first row that contains labels or names for each column. These labels make the data understandable by providing context for what each column represents.


* **`pd.read_csv()` Function:**
    * **Purpose:** This is the primary Pandas function for reading data from a CSV file into a DataFrame.

    * **Common Parameters:**
        * `filepath_or_buffer`: The path to the CSV file (as a string, e.g., `'data.csv'`, `'C:/Users/Me/Documents/data.csv'`) or a URL.
        * `sep` (or `delimiter`): The character used to separate values in the file. Default is `','`. Use `sep='\t'` for tab-separated files, or `sep=';'` for semicolon-separated files. Pandas often auto-detects this if not `','`.
        * `header`: Specifies which row number to use as column names (0-indexed). Default is `0` (first row). If your file has no header, use `header=None`.
        * `names`: A list of column names to use. If you provide `names` and the file has a header, you should also specify `header=0` to overwrite the file's header or `header=None` if the file has no header and you're providing names.
        * `index_col`: Column(s) to use as the row labels (index) of the DataFrame. Can be an integer (column position) or a string (column name).
        * `usecols`: Allows you to read only a subset of columns, specified by name or position. E.g., `usecols=['Name', 'Age']`.
        * `skiprows`: Number of lines to skip at the beginning of the file, or a list of specific row numbers (0-indexed) to skip.
        * `nrows`: Number of rows to read from the file. Useful for reading just a sample of a very large file.
    * **Reading CSV with Header (Default Behavior):**
        * If your CSV file has a header row (column names in the first line), `pd.read_csv()` will usually detect and use it automatically.

In [19]:
# Create a dummy CSV file with a header for demonstration
csv_data_with_header = """Name,Age,City
Alice,25,New York
Bob,30,London
Carol,22,Paris
"""

In [22]:
# Write CSV data to a file
with open('data_with_header.csv', 'w') as f:
    f.write(csv_data_with_header)

In [23]:
# Read CSV file
try:
    df_with_header = pd.read_csv('data_with_header.csv', index_col=False)
    print("DataFrame with header (inferred):\n", df_with_header)
except FileNotFoundError:
    print("Error: data_with_header.csv not found. Ensure it's created in the same directory or provide the full path.")

DataFrame with header (inferred):
     Name  Age      City
0  Alice   25  New York
1    Bob   30    London
2  Carol   22     Paris

* **Reading CSV without Header:**
        * If the CSV file lacks a header row, you must tell Pandas by setting `header=None`. You can then let Pandas assign default integer column names (0, 1, 2, ...) or provide your own using the `names` parameter.

In [25]:
# Create a dummy CSV file without a header
csv_data_no_header = """Dave,35,Berlin
Eve,29,Madrid
Frank,40,Rome
"""

In [26]:
with open('data_no_header.csv', 'w') as f:
    f.write(csv_data_no_header)

try:
    # Method 1: Let Pandas assign default integer column names
    df_no_header_default_names = pd.read_csv('data_no_header.csv', header=None)
    print("\nDataFrame without header (default names):\n", df_no_header_default_names)

    # Method 2: Assign custom column names
    column_names = ['FullName', 'UserAge', 'UserCity']
    df_no_header_custom_names = pd.read_csv('data_no_header.csv', header=None, names=column_names)
    print("\nDataFrame without header (custom names):\n", df_no_header_custom_names)

except FileNotFoundError:
    print("data_no_header.csv not found. Ensure it's created or provide the full path.")

DataFrame without header (default names):
        0   1       2
0   Dave  35  Berlin
1    Eve  29  Madrid
2  Frank  40    Rome

DataFrame without header (custom names):
   FullName  UserAge UserCity
0     Dave       35   Berlin
1      Eve       29   Madrid
2    Frank       40     Rome

**2.3 Inspecting DataFrames**

Once data is loaded, the first step is to get a feel for its structure and content.

* **`.head(n=5)` and `.tail(n=5)`:**
    * `df.head(n)`: Returns the first `n` rows of the DataFrame. Default is 5. Excellent for a quick peek at the beginning of your data. *[27]*
    * `df.tail(n)`: Returns the last `n` rows of the DataFrame. Default is 5. Useful for checking the end of your data, especially after sorting or appending. *[27], [28]*

In [28]:

# Using df_with_header from the previous example (assuming it was loaded successfully)
if 'df_with_header' in locals():
    print("First 2 rows (head):\n", df_with_header.head(2))
    # Expected Output:
    #     Name  Age      City
    # 0  Alice   25  New York
    # 1    Bob   30    London

    print("\nLast 2 rows (tail):\n", df_with_header.tail(2))
    # Expected Output:
    #     Name  Age    City
    # 1    Bob   30  London
    # 2  Carol   22   Paris
else:
    # Create a sample DataFrame for inspection if previous failed
    data_inspect = {
        'colA': range(10),
        'colB': [chr(i) for i in range(ord('a'), ord('a')+10)],
        'colC': [1.0, 2.5, np.nan, 4.2, 5.1, np.nan, 7.8, 8.9, 9.0, 10.3]
    }

    df_inspect = pd.DataFrame(data_inspect)
    print("Sample DataFrame for inspection:\n", df_inspect.head())

    print("\nFirst 3 rows (head):\n", df_inspect.head(3))
    print("\nLast 2 rows (tail):\n", df_inspect.tail(2))

First 2 rows (head):
     Name  Age      City
0  Alice   25  New York
1    Bob   30    London

Last 2 rows (tail):
     Name  Age    City
1    Bob   30  London
2  Carol   22   Paris

* **`.info()`:**
    * Provides a concise summary of a DataFrame, including:
        * The data type of the index.
        * The data type of each column (`Dtype`).
        * The number of non-null (non-missing) values in each column (`Non-Null Count`).
        * Memory usage of the DataFrame.
        * *[29]*
    * **Output Interpretation:** Extremely useful for quickly spotting columns with missing data or incorrect data types.

In [29]:
# Create a sample DataFrame for inspection with mixed types and missing values
data_info = {'ID': [1, 2, 3, 4, 5],
               'Product': ['Apple', 'Banana', 'Orange', np.nan, 'Apple'],
               'Price': [0.5, 0.25, np.nan, 1.0, 0.55],
               'Quantity': [10, 15, 8, 12, 20]}
df_for_info = pd.DataFrame(data_info)
df_for_info['OrderDate'] = pd.to_datetime(['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-03', '2025-01-03'])

print("\nDataFrame info:")
df_for_info.info()

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         5 non-null      int64
 1   Product    4 non-null      object
 2   Price      4 non-null      float64
 3   Quantity   5 non-null      int64
 4   OrderDate  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 332.0+ bytes

* **`.describe()`:**
    * Generates descriptive statistics of the DataFrame. *[31]*
    * For **numerical columns** (default): count, mean, standard deviation (std), min, 25th percentile (Q1), 50th percentile (median/Q2), 75th percentile (Q3), and max.
    * For **categorical/object columns** (if `include='object'` or `include='all'` is used): count, unique (number of distinct values), top (most frequent value/mode), and freq (frequency of the top value).
    * `include='all'` will show statistics for all columns, using NaN for metrics that don't apply to a particular data type.

In [35]:
# Sample data creation (assuming df_for_info doesn't exist)
data_info = {
    'ID': [1, 2, 3, 4, 5],
    'Product': ['Apple', 'Banana', 'Orange', np.nan, 'Apple'],
    'Price': [0.5, 0.25, np.nan, 1.0, 0.55],
    'Quantity': [10, 15, 8, 12, 20],
    'OrderDate': pd.to_datetime(['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-03', '2025-01-03'])
}
df_for_info = pd.DataFrame(data_info)

In [37]:
# Descriptive statistics for numerical columns
print("\nDescriptive statistics for numerical columns of df_for_info:\n", df_for_info.describe())

Descriptive statistics for numerical columns of df_for_info:
              ID    Price   Quantity            OrderDate
count  5.000000  4.00000   5.000000                    5
mean   3.000000  0.57500  13.000000  2025-01-02 00:00:00
min    1.000000  0.25000   8.000000  2025-01-01 00:00:00
25%    2.000000  0.43750  10.000000  2025-01-01 00:00:00
50%    3.000000  0.52500  12.000000  2025-01-02 00:00:00
75%    4.000000  0.66250  15.000000  2025-01-03 00:00:00
max    5.000000  1.00000  20.000000  2025-01-03 00:00:00
std    1.581139  0.31225   4.690416                  NaN

In [40]:
# Descriptive statistics for object columns
print("\nDescriptive statistics for object columns of df_for_info:\n", df_for_info.describe(include=['object']))

Descriptive statistics for object columns of df_for_info:
        Product
count        4
unique       3
top      Apple
freq         2

In [42]:
# Descriptive statistics for all columns
print("\nDescriptive statistics for all columns of df_for_info:\n", df_for_info.describe(include='all'))

Descriptive statistics for all columns of df_for_info:
               ID Product    Price   Quantity            OrderDate
count   5.000000       4  4.00000   5.000000                    5
unique       NaN       3      NaN        NaN                  NaN
top          NaN   Apple      NaN        NaN                  NaN
freq         NaN       2      NaN        NaN                  NaN
mean    3.000000     NaN  0.57500  13.000000  2025-01-02 00:00:00
min     1.000000     NaN  0.25000   8.000000  2025-01-01 00:00:00
25%     2.000000     NaN  0.43750  10.000000  2025-01-01 00:00:00
50%     3.000000     NaN  0.52500  12.000000  2025-01-02 00:00:00
75%     4.000000     NaN  0.66250  15.000000  2025-01-03 00:00:00
max     5.000000     NaN  1.00000  20.000000  2025-01-03 00:00:00
std     1.581139     NaN  0.31225   4.690416                  NaN

* **Other Attributes for Basic Inspection:**
    * `df.shape`: Returns a tuple `(number_of_rows, number_of_columns)`.
    * `df.dtypes`: Returns a `Series` showing the data type of each column.
    * `df.columns`: Returns an `Index` object containing the column labels.
    * `df.index`: Returns an `Index` object containing the row labels.

In [48]:
df_for_info = pd.DataFrame(data_info)

# Print DataFrame properties
print("\nShape of df_for_info:", df_for_info.shape)  # Output: (5, 5)

Shape of df_for_info: (5, 5)

In [49]:
print("\nData types of columns in df_for_info:\n", df_for_info.dtypes)

Data types of columns in df_for_info:
 ID                    int64
Product              object
Price               float64
Quantity              int64
OrderDate    datetime64[ns]
dtype: object

In [50]:
print("\nColumn labels of df_for_info:", df_for_info.columns)
# Expected Output: Index(['ID', 'Product', 'Price', 'Quantity', 'OrderDate'], dtype='object')

Column labels of df_for_info: Index(['ID', 'Product', 'Price', 'Quantity', 'OrderDate'], dtype='object')

In [52]:
print("\nIndex (row labels) of df_for_info:", df_for_info.index)
# Expected Output: RangeIndex(start=0, stop=5, step=1)

Index (row labels) of df_for_info: RangeIndex(start=0, stop=5, step=1)

**2.4 Data Selection and Indexing**

Pandas offers powerful ways to select specific subsets of your data.

* **Selecting Columns:**
    * Using square brackets `[]`:
        * `df['column_name']`: Selects a single column as a `Series`.
        * `df[['col1_name', 'col2_name']]`: Selects multiple columns as a new `DataFrame`. Note the inner list.

In [53]:
# Using df_for_info
selected_product_series = df_for_info['Product']
print("\nSelecting column 'Product' (as Series):\n", selected_product_series)

Selecting column 'Product' (as Series):
 0     Apple
1    Banana
2    Orange
3       NaN
4     Apple
Name: Product, dtype: object

In [54]:
selected_cols_df = df_for_info[['Product', 'Price']]
print("\nSelecting columns 'Product' and 'Price' (as DataFrame):\n", selected_cols_df)

Selecting columns 'Product' and 'Price' (as DataFrame):
   Product  Price
0   Apple   0.50
1  Banana   0.25
2  Orange    NaN
3     NaN   1.00
4   Apple   0.55

* **Selecting Rows with `.loc[]` (Label-based):**
    * Accesses a group of rows and columns by **labels** (index names, column names).
    * `df.loc[row_label]`: Selects a single row (returns a `Series`).
    * `df.loc[[row_label1, row_label2]]`: Selects multiple rows by label (returns a `DataFrame`).
    * `df.loc[start_label:end_label]`: Slice of rows (inclusive of both start and end labels).
    * `df.loc[:, 'column_name']`: Selects all rows for a specific column (returns a `Series`).
    * `df.loc[row_label_slice, column_label_slice]`: Selects a specific block of data.
    * `df.loc[boolean_condition]`: Selects rows where the boolean condition is `True`.

In [57]:
# Set a custom index for df_for_info for better .loc demonstration
df_loc_demo = df_for_info.copy()
df_loc_demo.index = ['Order1', 'Order2', 'Order3', 'Order4', 'Order5']
print("\nDataFrame with custom index for .loc demo:\n", df_loc_demo)

DataFrame with custom index for .loc demo:
         ID Product  Price  Quantity  OrderDate
Order1   1   Apple   0.50        10 2025-01-01
Order2   2  Banana   0.25        15 2025-01-01
Order3   3  Orange    NaN         8 2025-01-02
Order4   4     NaN   1.00        12 2025-01-03
Order5   5   Apple   0.55        20 2025-01-03

In [58]:
# Selecting row with index 'Order2'
print("\nSelecting row with index 'Order2' using .loc:\n", df_loc_demo.loc['Order2'])

Selecting row with index 'Order2' using .loc:
 ID                             2
Product                   Banana
Price                       0.25
Quantity                      15
OrderDate    2025-01-01 00:00:00
Name: Order2, dtype: object

In [59]:
# Selecting rows 'Order1' to 'Order3'
print("\nSelecting rows 'Order1' to 'Order3' using .loc:\n", df_loc_demo.loc['Order1':'Order3'])

Selecting rows 'Order1' to 'Order3' using .loc:
         ID Product  Price  Quantity  OrderDate
Order1   1   Apple   0.50        10 2025-01-01
Order2   2  Banana   0.25        15 2025-01-01
Order3   3  Orange    NaN         8 2025-01-02

In [60]:
# Selecting 'Product' and 'Quantity' for rows 'Order2' and 'Order4'
print("\nSelecting 'Product' and 'Quantity' for rows 'Order2' and 'Order4':\n",
      df_loc_demo.loc[['Order2', 'Order4'], ['Product', 'Quantity']])

Selecting 'Product' and 'Quantity' for rows 'Order2' and 'Order4':
        Product  Quantity
Order2  Banana        15
Order4     NaN        12

In [61]:
# Selecting rows where Quantity > 10
print("\nSelecting rows where Quantity > 10 using .loc:\n",
      df_loc_demo.loc[df_loc_demo['Quantity'] > 10])

Selecting rows where Quantity > 10 using .loc:
         ID Product  Price  Quantity  OrderDate
Order2   2  Banana   0.25        15 2025-01-01
Order4   4     NaN   1.00        12 2025-01-03
Order5   5   Apple   0.55        20 2025-01-03

* **Selecting Rows with `.iloc[]` (Integer Position-based):**
    * Accesses a group of rows and columns by **integer positions** (0-indexed).
    * `df.iloc[row_pos]` Selects a single row by its integer position (returns a `Series`).
    * `df.iloc[[row_pos1, row_pos2]]`: Selects multiple rows by integer position (returns a `DataFrame`).
    * `df.iloc[start_pos:end_pos]`: Slice of rows (exclusive of `end_pos`, like Python list slicing).
    * `df.iloc[:, col_pos]`: Selects all rows for a specific column by position (returns a `Series`).
    * `df.iloc[row_pos_slice, col_pos_slice]`: Selects a specific block of data by position.

In [62]:
# Using df_for_info (which has default integer index)
print("\nSelecting row at position 0 using .iloc:\n", df_for_info.iloc[0])

Selecting row at position 0 using .iloc:
 ID                             1
Product                    Apple
Price                        0.5
Quantity                      10
OrderDate    2025-01-01 00:00:00
Name: 0, dtype: object

In [64]:
print("\nSelecting rows at positions 0 to 2 (exclusive of 2) using .iloc:\n", df_for_info.iloc[0:2])

Selecting rows at positions 0 to 2 (exclusive of 2) using .iloc:
    ID Product  Price  Quantity  OrderDate
0   1   Apple   0.50        10 2025-01-01
1   2  Banana   0.25        15 2025-01-01

In [65]:
print("\nSelecting first 3 rows and first 2 columns (positions 0, 1) using .iloc:\n", df_for_info.iloc[0:3, 0:2])

Selecting first 3 rows and first 2 columns (positions 0, 1) using .iloc:
    ID Product
0   1   Apple
1   2  Banana
2   3  Orange

In [66]:
print("\nSelecting specific rows [0, 2, 4] and columns [1, 3] using .iloc:\n", df_for_info.iloc[[0, 2, 4], [1, 3]])

Selecting specific rows [0, 2, 4] and columns [1, 3] using .iloc:
   Product  Quantity
0   Apple        10
2  Orange         8
4   Apple        20

## Difference Between `df.loc` and `df.iloc`

| Feature       | `df.loc` (Label-based) | `df.iloc` (Position-based) |
|--------------|----------------------|--------------------------|
| **Row Selection** | Uses **index labels** | Uses **integer positions** |
| **Column Selection** | Uses **column names** | Uses **integer positions** |
| **Slicing Behavior** | Includes both endpoints | Excludes the endpoint (Python slicing behavior) |
| **Can use conditions?** |  Yes |  No |

### Summary:
- `df.loc` is **label-based**, meaning it selects rows and columns using explicit **names**.
- `df.iloc` is **position-based**, meaning it selects rows and columns using numerical **indices**.

**2.5 Basic Operations on DataFrames**

* **Adding Columns:**
    * **Direct Assignment:** `df['new_column_name'] = values`
        * `values` can be a scalar (same value for all rows), a list or NumPy array (must match DataFrame length), or a Pandas `Series` (will align by index).
    * **Using `assign()`:** `df_new = df.assign(new_col_name = expression)`
        * Creates a *new* DataFrame with the added column(s), leaving the original DataFrame unchanged.
        * Allows creating multiple columns at once.
        * Can use lambda functions to define new columns based on existing ones.

In [89]:
# Create DataFrame

df_ops = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [10, 20, 30, 40]})
print("Original DataFrame for ops:\n", df_ops)

Original DataFrame for ops:
    A   B
0  1  10
1  2  20
2  3  30
3  4  40

In [90]:
# Direct assignment - new column 'C' as sum of A and B

df_ops['C'] = df_ops['A'] + df_ops['B']
print("\nAfter adding 'C' (direct assignment):\n", df_ops)

After adding 'C' (direct assignment):
    A   B   C
0  1  10  11
1  2  20  22
2  3  30  33
3  4  40  44

In [91]:
# Using assign() - new column 'D' as A * 2
# Original df_ops is NOT modified by assign unless reassigned

df_ops_assigned = df_ops.assign(D=df_ops['A'] * 2)

print("\nNew DataFrame with 'D' (using assign):\n", df_ops_assigned)
print("\nOriginal df_ops after assign (unchanged from C addition):\n", df_ops)

New DataFrame with 'D' (using assign):
    A   B   C  D
0  1  10  11  2
1  2  20  22  4
2  3  30  33  6
3  4  40  44  8

Original df_ops after assign (unchanged from C addition):
    A   B   C
0  1  10  11
1  2  20  22
2  3  30  33
3  4  40  44

In [92]:
# Using assign() with lambda functions to create new columns E & F

df_ops_lambda = df_ops.assign(
    E=lambda x: x['A'] - x['B'],  # Column 'E': Computes the difference A - B
    F=lambda x: x['C'] * 0.1  # Column 'F': Computes 10% of column 'C'
)

print("\nNew DataFrame with 'E' and 'F' (assign with lambda):\n", df_ops_lambda)

# Explanation: `assign()` is often preferred in method chains for a more functional style.

New DataFrame with 'E' and 'F' (assign with lambda):
    A   B   C   E    F
0  1  10  11  -9  1.1
1  2  20  22 -18  2.2
2  3  30  33 -27  3.3
3  4  40  44 -36  4.4

* **Modifying Columns:**
    * Simply assign new values to an existing column: `df['existing_column'] = new_values`.

In [93]:
print("\nBefore modifying column 'A' in df_ops:\n", df_ops)

df_ops['A'] = df_ops['A'] * 10
print("\nAfter modifying column 'A' in df_ops:\n", df_ops)

Before modifying column 'A' in df_ops:
    A   B   C
0  1  10  11
1  2  20  22
2  3  30  33
3  4  40  44

After modifying column 'A' in df_ops:
     A   B   C
0  10  10  11
1  20  20  22
2  30  30  33
3  40  40  44

* **Deleting Columns:**
    * **Using `del` keyword:** `del df['column_name']`
        * Modifies the DataFrame in-place.
    * **Using `pop()` method:** `popped_series = df.pop('column_name')`
        * Removes the column and returns it as a `Series`.
        * Modifies the DataFrame in-place.
    * **Using `drop()` method:** `df_new = df.drop(columns=['col1', 'col2'], inplace=False)`
        * More flexible. Can drop rows or columns.
        * `columns=['col_name']` or `labels=['col_name'], axis=1` to specify column(s).
        * `labels=['row_index'], axis=0` to specify row(s).
        * `inplace=False` (default): Returns a new DataFrame with the column(s) dropped. Original is unchanged.
        * `inplace=True`: Modifies the DataFrame directly and returns `None`.

In [94]:
# Work on a copy to avoid modifying the original DataFrame
df_to_delete_from = df_ops_lambda.copy()
print("\nDataFrame before deletions:\n", df_to_delete_from)

DataFrame before deletions:
    A   B   C   E    F
0  1  10  11  -9  1.1
1  2  20  22 -18  2.2
2  3  30  33 -27  3.3
3  4  40  44 -36  4.4

In [95]:
# Using del (removes column permanently)
if 'F' in df_to_delete_from.columns:
    del df_to_delete_from['F']
    print("\nAfter deleting 'F' using del:\n", df_to_delete_from)

After deleting 'F' using del:
    A   B   C   E
0  1  10  11  -9
1  2  20  22 -18
2  3  30  33 -27
3  4  40  44 -36

In [96]:
# Using pop() (removes column and returns it as a Series)
if 'E' in df_to_delete_from.columns:
    e_series = df_to_delete_from.pop('E')
    print("\nAfter popping 'E':\n", df_to_delete_from)
    print("Popped series 'E':\n", e_series)

After popping 'E':
    A   B   C
0  1  10  11
1  2  20  22
2  3  30  33
3  4  40  44
Popped series 'E':
 0    -9
1   -18
2   -27
3   -36
Name: E, dtype: int64

In [97]:
# Using drop() with inplace=False (returns new DataFrame without modifying original)
df_dropped_C = df_to_delete_from.drop(columns=['C'])
print("\nNew DataFrame after dropping 'C' (original unchanged):\n", df_dropped_C)
print("\nOriginal df_to_delete_from after non-inplace drop:\n", df_to_delete_from)

New DataFrame after dropping 'C' (original unchanged):
    A   B
0  1  10
1  2  20
2  3  30
3  4  40

Original df_to_delete_from after non-inplace drop:
    A   B   C
0  1  10  11
1  2  20  22
2  3  30  33
3  4  40  44

In [98]:
# Using drop() with inplace=True (modifies original DataFrame)
if 'B' in df_to_delete_from.columns:
    df_to_delete_from.drop(columns=['B'], inplace=True)
    print("\nOriginal df_to_delete_from after dropping 'B' (inplace=True):\n", df_to_delete_from)

Original df_to_delete_from after dropping 'B' (inplace=True):
    A   C
0  1  11
1  2  22
2  3  33
3  4  44




**2.6 Saving DataFrames**

Pandas allows DataFrames to be saved to various file formats. `to_csv()` is very common.

* **`df.to_csv()` Function:** Writes the DataFrame to a Comma-Separated Values (CSV) file.
    
    * **Common Parameters:**
        * `path_or_buf`: File path or object. If `None`, the result is returned as a string. E.g., `'output.csv'`.
        * `sep`: Delimiter to use in the output file (default is `','`).
        * `index=True/False`: Whether to write the DataFrame index as a column in the CSV. Default is `True`. Often set to `False` if the index is a default integer index (0, 1, 2...) and not meaningful data.
        * `header=True/False`: Whether to write the column names as the first line (header row). Default is `True`.
        * `mode='w'/'a'`: Write mode. `'w'` to overwrite the file if it exists (default), `'a'` to append to an existing file.
        * `encoding`: Specifies the character encoding to use, e.g., `'utf-8'` (common). *[35]*
        * `columns`: Optional list of column names to write. If specified, only these columns are saved.

In [99]:
# Create a DataFrame
df_to_save = pd.DataFrame({
    'Name': ['Laptop', 'Mouse', 'Keyboard'],
    'Price': [1200, 25, 75],
    'Quantity': [5, 10, 7]
})

print("\nDataFrame to be saved:\n", df_to_save)

DataFrame to be saved:
        Name  Price  Quantity
0    Laptop   1200         5
1     Mouse     25        10
2  Keyboard     75         7

In [100]:
# Try saving the DataFrame in various formats
try:
    # Save with index and header (default)
    df_to_save.to_csv('output_with_index_header.csv')
    print("\nSaved to output_with_index_header.csv (with index and header)")

    # Expected content in file:
    # ,Name,Price,Quantity
    # 0,Laptop,1200,5
    # 1,Mouse,25,10
    # 2,Keyboard,75,7

    # Save without index, but with header
    df_to_save.to_csv('output_no_index.csv', index=False)
    print("Saved to output_no_index.csv (no index, with header)")

    # Expected content in file:
    # Name,Price,Quantity
    # Laptop,1200,5
    # Mouse,25,10
    # Keyboard,75,7

    # Save without index and without header, using tab separator
    df_to_save.to_csv('output_custom.tsv', sep='\t', index=False, header=False)
    print("Saved to output_custom.tsv (tab separated, no index, no header)")

    # Expected content in file:
    # Laptop    1200    5
    # Mouse     25      10
    # Keyboard  75      7

except Exception as e:
    print(f"Error saving files: {e}. This might be due to permissions or disk space issues.")

Saved to output_with_index_header.csv (with index and header)
Saved to output_no_index.csv (no index, with header)
Saved to output_custom.tsv (tab separated, no index, no header)

In [101]:
# Explanation:
# - `index=False` avoids saving the default index when it's not meaningful.
# - `header=False` omits column headers if not needed.
# - Using `sep='\t'` saves in tab-separated format for compatibility.

---

**Module 2: Practice Questions**

16. **Coding:** Create a Pandas `Series` named `s_colors` from the list `['Red', 'Green', 'Blue']` with a custom index `['R', 'G', 'B']`. Print the `Series`.
17. **MCQ:** What is the primary data structure in Pandas for handling 2-dimensional tabular data?
    * A) Series
    * B) NumPy Array
    * C) DataFrame
    * D) Python List
18. **Coding:** Create a Pandas `DataFrame` named `df_students` from the following dictionary. Print the DataFrame.

In [102]:
student_data = {'StudentID': [101, 102, 103],
                    'Name': ['Alice', 'Bob', 'Carol'],
                    'Score': [85, 92, 78]}

In [103]:
df_student = pd.DataFrame(student_data)
print(df_student)

   StudentID   Name  Score
0        101  Alice     85
1        102    Bob     92
2        103  Carol     78

19. **Short Answer:** What is a "header row" in the context of a CSV file?
20. **Function Parameter:** In `pd.read_csv()`, what does the `sep` parameter control?
21. **Function Parameter:** If your CSV file does not have a header row, what value should you pass to the `header` parameter in `pd.read_csv()`?

22. **Coding:** Assume you have a CSV file named `products.csv` that has no header and contains product names and prices. Write the Python code to read this file into a DataFrame, providing column names 'ProductName' and 'ProductPrice'.

23. **Pandas Method:** Which method would you use to view the first 7 rows of a DataFrame named `df_data`?
24. **Pandas Method:** Which method provides a quick statistical summary (mean, std, min, max, etc.) of the numerical columns in a DataFrame?
25. **Attribute:** Which DataFrame attribute returns a tuple representing its dimensions (rows, columns)?
26. **Short Answer:** What is the key difference between selecting data using `.loc[]` and `.iloc[]`?

27. **Coding:** Given `df_students` from question 18, write code to select only the 'Name' column.

In [108]:
print(df_student['Name'])

0    Alice
1      Bob
2    Carol
Name: Name, dtype: object

28. **Coding:** Given `df_students` from question 18, write code to select the row for the student with `StudentID` 102 using `.loc[]` (assuming `StudentID` is set as the index first, or by boolean indexing if not).

In [113]:
df_students_indexed = df_student.set_index('StudentID')
print("\nDataFrame with StudentID as index:")
print(df_students_indexed)

try:
    student_102_loc = df_students_indexed.loc[102]
    print("\nRow for StudentID 102 using .loc[] on indexed DataFrame:")
    print(student_102_loc)
except KeyError:
    print("\nStudentID 102 not found in the index.")

DataFrame with StudentID as index:
            Name  Score
StudentID
101        Alice     85
102          Bob     92
103        Carol     78

Row for StudentID 102 using .loc[] on indexed DataFrame:
Name     Bob
Score     92
Name: 102, dtype: object

29. **Coding:** Given `df_students` from question 18, write code to select the first two rows using `.iloc[]`.

In [116]:
df_student.iloc[0:2]

   StudentID   Name  Score
0        101  Alice     85
1        102    Bob     92

30. **Coding:** Add a new column named 'Grade' to `df_students`. For simplicity, assign 'Pass' to all students.

31. **Pandas Method:** Which method can be used to add new columns to a DataFrame while returning a *new* DataFrame (leaving the original unchanged)?
32. **Coding:** Delete the 'Score' column from `df_students` *in-place*.

33. **Pandas Method:** What is the purpose of the `index=False` parameter in the `df.to_csv()` method?
34. **Coding:** Save the `df_students` DataFrame (after any modifications) to a CSV file named `student_records.csv` without writing the index.

35. **True/False:** When creating a DataFrame from a list of dictionaries, Pandas will raise an error if the dictionaries have different keys.
36. **Short Answer:** What information does `df.info()` provide about a DataFrame? List at least three items.
37. **Coding:** Create a Series with 5 random numbers and a custom character index ('v', 'w', 'x', 'y', 'z').

38. **Conceptual:** If you use `df.describe(include='object')`, what kind of statistics would you expect to see?
39. **Selection:** How would you select all rows and only the first and third columns of a DataFrame `df` using `.iloc[]`?
40. **Selection:** How would you select rows where a column 'Age' is greater than 30 in a DataFrame `df` using `.loc[]`?

---

**Module 3: Data Cleaning and Preparation**

Data cleaning is a critical step in the data analysis pipeline. It involves identifying and correcting (or removing) errors, inconsistencies, and inaccuracies in datasets to ensure data quality for analysis and modeling.

**3.1 Handling Missing Data**

Missing data, often represented as `NaN` (Not a Number) in Pandas, can significantly skew analysis results and negatively impact machine learning model performance if not handled appropriately. *[36]*

* **Identifying Missing Values:**
    * `df.isnull()` or `df.isna()`: These methods return a DataFrame of the same shape as the input, with `True` where values are missing (`NaN`) and `False` otherwise. *[38]*
    * `df.notnull()`: The opposite of `isnull()`; returns `True` for non-missing values.
    * `df.isnull().sum()`: This is a very common and useful command. It returns a `Series` showing the count of missing values in each column. *[38]*
    * `df.isnull().sum().sum()`: Returns the total number of missing values in the entire DataFrame. *[39]*
    * `df.isnull().values.any()`: Returns `True` if there is at least one missing value anywhere in the DataFrame. Useful for a quick check. *[39]*

In [ ]:
import pandas as pd
    import numpy as np

    data_missing_raw = {'col1': [1, 2, np.nan, 4, np.nan, 7],
                        'col2': ['A', 'B', 'C', np.nan, 'E', 'F'],
                        'col3': [10.0, 11.5, 12.3, np.nan, 14.2, np.nan],
                        'col4': [True, False, True, True, False, False]}
    df_missing = pd.DataFrame(data_missing_raw)
    print("Original DataFrame with missing values:\n", df_missing)

    print("\nBoolean DataFrame of missing values (isnull()):\n", df_missing.isnull())
    # Output: Shows True where data is NaN

    print("\nCount of missing values per column:\n", df_missing.isnull().sum())
    # Output:
    # col1    2
    # col2    1
    # col3    2
    # col4    0
    # dtype: int64

    print("\nTotal missing values in DataFrame:", df_missing.isnull().sum().sum()) # Output: 5

    print("\nAre there any missing values at all?", df_missing.isnull().values.any()) # Output: True

* `[Image: Heatmap visualization of df_missing.isnull(). This would show a grid where cells are colored (e.g., yellow for True/missing, purple for False/not missing), giving a quick visual overview of missing data patterns.]`
        * You can create this with `sns.heatmap(df_missing.isnull(), cbar=False, cmap='viridis')`.

* **Strategies for Handling Missing Values:**
    The choice of strategy depends on several factors: the amount of missing data, the nature of the variable, the mechanism causing data to be missing, and the goals of the analysis. The two primary approaches are **deletion** and **imputation**. *[36]*

    1.  **Deletion: Removing rows or columns with missing values.**
        * **`df.dropna()`**: Removes rows or columns containing missing values. *[37]*
            * `axis=0` (default): Drops **rows** that have at least one `NaN` (or all `NaN`s if `how='all'`).
            * `axis=1`: Drops **columns** that have at least one `NaN` (or all `NaN`s if `how='all'`).
            * `how='any'` (default): Drops the row/column if **any** `NaN` values are present.
            * `how='all'`: Drops the row/column only if **all** its values are `NaN`.
            * `thresh=n`: Keeps only rows/columns that have at least `n` non-`NaN` values. For example, `thresh=len(df.columns)-2` would keep rows with at most 2 NaNs.
            * `subset=['col_name1', 'col_name2']`: Restricts the `NaN` check to only the specified columns when deciding to drop rows (or specified index labels when dropping columns). *[37]*
            * `inplace=True/False` (default `False`): Modifies the DataFrame directly if `True`, or returns a new DataFrame if `False`.

In [105]:
print("\nOriginal df_missing before dropna operations:\n", df_missing)

        # Drop rows with ANY missing values (default behavior)
        df_dropped_rows_any = df_missing.dropna() # axis=0, how='any' by default
        print("\nDataFrame after dropping rows with any NaN:\n", df_dropped_rows_any) # Row 2, 3, 4, 5 would be dropped

        # Drop columns with ANY missing values
        df_dropped_cols_any = df_missing.dropna(axis=1) # how='any' by default
        print("\nDataFrame after dropping columns with any NaN:\n", df_dropped_cols_any) # col1, col2, col3 would be dropped

        # Drop rows where 'col1' OR 'col3' is NaN
        df_dropped_subset = df_missing.dropna(subset=['col1', 'col3'], how='any') # how='any' is default for subset too
        print("\nDataFrame after dropping rows if NaN in 'col1' or 'col3':\n", df_dropped_subset) # Row 2, 3, 5 would be dropped

        # Keep rows that have at least 3 non-NaN values (out of 4 columns)
        df_thresh = df_missing.dropna(thresh=3)
        print("\nDataFrame after keeping rows with at least 3 non-NaNs:\n", df_thresh)

        # Original df_missing is unchanged if inplace=False
        # print("\nOriginal df_missing after non-inplace dropna:\n", df_missing)

IndentationError: unexpected indent (<ipython-input-105-e748b47def71>, line 4)

* **Pros & Cons of Deletion:**
            * **Pros:** Simple to implement.
            * **Cons:** Can lead to significant loss of data if missing values are widespread, potentially biasing the results or reducing statistical power. *[36]* Only suitable if data is missing completely at random and the proportion is small.

    2.  **Imputation: Replacing missing values with estimated or calculated values.** *[36]*
        * **`df.fillna(value, method=None, inplace=False)`**: Fills `NaN` values using a specified method or value.
            * **Filling with a Constant:**
                * `df.fillna(0)`: Replaces all `NaN`s with 0.
                * `df['column_name'].fillna('Unknown')`: Replaces `NaN`s in a specific column with "Unknown".
            * **Filling with Statistical Measures (Mean, Median, Mode):**
                * **Mean:** `df['numerical_col'].fillna(df['numerical_col'].mean())`
                    * Good for numerical data that is somewhat normally distributed. Sensitive to outliers. *[41]*
                * **Median:** `df['numerical_col'].fillna(df['numerical_col'].median())`
                    * Good for numerical data, especially if it's skewed or has outliers, as the median is more robust.
                * **Mode:** `df['categorical_col'].fillna(df['categorical_col'].mode()[0])`
                    * Suitable for categorical data. `mode()` returns a Series (as there can be multiple modes), so `[0]` is used to get the first mode. *[43]*
            * **Filling with Forward Fill (`ffill`) or Backward Fill (`bfill`):**
                * `method='ffill'`: Propagates the last valid (non-`NaN`) observation forward to fill the `NaN`.
                * `method='bfill'` (or `backfill`): Uses the next valid observation to fill the `NaN`.
                * Useful for time series data or when the order of data matters.
            * **Grouped Imputation:** Filling missing values based on statistics from a specific group within the data.
                * Example: Impute missing 'Income' with the mean 'Income' of the corresponding 'JobType'.
                * Requires using `groupby()` and `transform()`.

In [ ]:
df_impute = df_missing.copy() # Work on a copy
        print("\nOriginal df_missing for imputation:\n", df_impute)

        # Impute 'col1' (numerical) with its mean
        mean_col1 = df_impute['col1'].mean()
        df_impute['col1_imputed_mean'] = df_impute['col1'].fillna(mean_col1)
        print("\nImputing 'col1' with mean:\n", df_impute[['col1', 'col1_imputed_mean']])

        # Impute 'col2' (categorical) with its mode
        mode_col2 = df_impute['col2'].mode()[0] # Get the first mode
        df_impute['col2_imputed_mode'] = df_impute['col2'].fillna(mode_col2)
        print("\nImputing 'col2' with mode ('%s'):\n" % mode_col2, df_impute[['col2', 'col2_imputed_mode']])

        # Impute 'col3' using forward fill
        df_impute['col3_imputed_ffill'] = df_impute['col3'].fillna(method='ffill')
        print("\nImputing 'col3' with ffill:\n", df_impute[['col3', 'col3_imputed_ffill']])

        # Impute 'col3' using backward fill (on a fresh copy for clarity)
        df_impute_bfill = df_missing.copy()
        df_impute_bfill['col3_imputed_bfill'] = df_impute_bfill['col3'].fillna(method='bfill')
        print("\nImputing 'col3' with bfill:\n", df_impute_bfill[['col3', 'col3_imputed_bfill']])

        # Grouped Imputation Example
        # Suppose we want to fill NaN in col1 based on the mean of col1 for each distinct value in col4 (True/False)
        # df_missing['col1_imputed_groupmean'] = df_missing.groupby('col4')['col1'].transform(lambda x: x.fillna(x.mean()))
        # print("\nDataFrame after grouped mean imputation for 'col1' based on 'col4':\n", df_missing[['col4','col1','col1_imputed_groupmean']])
        # The `transform` method applies a function to each group and returns a Series with the same index as the original DataFrame, making assignment easy. *[42]*

* **Pros & Cons of Imputation:**
            * **Pros:** Preserves sample size. Can be more sophisticated than deletion.
            * **Cons:** Can introduce bias if the imputation method is not chosen carefully. May reduce variance in the data or distort relationships between variables. The imputed values are artificial.

* **Flowchart for Handling Missing Data Strategy:**
    ```
    [Start: Missing Data Identified]
        |
        V
    [1. Assess Missingness]
        - Quantify: df.isnull().sum() (count per column), percentage per column.
        - Visualize: Heatmap of missing values.
        - Understand Pattern (if possible): MCAR, MAR, MNAR? *[36]*
            - MCAR (Missing Completely At Random): Missingness is independent of any variable.
            - MAR (Missing At Random): Missingness depends on other OBSERVED variables.
            - MNAR (Missing Not At Random): Missingness depends on the UNSEEN missing values themselves (hardest to deal with).
        |
        V
    [2. Decision Point: Based on extent and nature]
        |
        +--------------------------------+---------------------------------+
        |                                |                                 |
        V                                V                                 V
    [IF: Column has VERY HIGH % missing (e.g., >60-70%)] [IF: Small % missing (e.g., <5%) AND seems MCAR] [ELSE: Moderate missingness OR important feature]
        |                                |                                 |
        V                                V                                 V
    [Strategy: Consider Dropping Column] [Strategy: Deletion (Row-wise)]  [Strategy: Imputation]
    `df.dropna(axis=1, thresh=...)`      `df.dropna(subset=[...])`        |
                                                                          |
                                                                          V
                                                                    [Choose Imputation Method]
                                                                          |
                                                 +------------------------+------------------------+
                                                 |                        |                        |
                                                 V                        V                        V
                                           [Numerical Data]        [Categorical Data]       [Time Series/Ordered]
                                                 |                        |                        |
                                                 V                        V                        V
                                           - Mean (if normal, no outliers)  - Mode (most common)     - Forward Fill (ffill)
                                           - Median (skewed, outliers)    - New Category ("Missing") - Backward Fill (bfill)
                                           - Model-based (e.g., KNNImputer, Regression) *[36]*
        |                                |                                 |
        V                                V                                 V
    [3. Apply Chosen Strategy]----------------------------------------------+
        |
        V
    [4. Evaluate & Verify]
        - Check `df.isnull().sum()` again.
        - Assess if distributions are overly distorted.
        - Consider impact on downstream analysis/modeling.
        |
        V
    [End: Missing Data Handled]
    ```
    * `[Diagram: The above text formatted as a visual flowchart with boxes and arrows.]`

**3.2 Handling Duplicates**

Duplicate rows can skew analysis (e.g., by over-representing certain observations) and affect model training.

* **`df.duplicated(subset=None, keep='first')`**: Returns a boolean `Series` indicating whether each row is a duplicate.
    * `subset`: A list of column labels to consider when identifying duplicates. By default, it uses all columns. If `subset=['colA', 'colB']`, a row is a duplicate if its values in 'colA' and 'colB' are identical to those in a prior row.
    * `keep='first'` (default): Marks all occurrences of duplicates as `True` except for the *first* one.
    * `keep='last'`: Marks all occurrences of duplicates as `True` except for the *last* one.
    * `keep=False`: Marks *all* occurrences of duplicate rows as `True`.
* **`df.drop_duplicates(subset=None, keep='first', inplace=False)`**: Returns a DataFrame with duplicate rows removed. The parameters `subset`, `keep`, and `inplace` work the same way as in `df.duplicated()`.

In [106]:
data_duplicates_raw = {'colA': [1, 1, 2, 3, 2, 1, 4],
                       'colB': ['x', 'x', 'y', 'z', 'y', 'x', 'w'],
                       'colC': [100, 100, 200, 300, 200, 100, 400]}
df_duplicates = pd.DataFrame(data_duplicates_raw)
print("Original DataFrame with duplicates:\n", df_duplicates)
# Row 0: 1, x, 100
# Row 1: 1, x, 100 (Duplicate of row 0)
# Row 4: 2, y, 200 (Duplicate of row 2)
# Row 5: 1, x, 100 (Duplicate of row 0 & 1)

print("\nBoolean Series of duplicated rows (first occurrence NOT marked as duplicate):\n",
      df_duplicates.duplicated())
# Output:
# 0    False
# 1     True  (duplicate of row 0)
# 2    False
# 3    False
# 4     True  (duplicate of row 2)
# 5     True  (duplicate of row 0/1)
# 6    False
# dtype: bool

print("\nBoolean Series of duplicated rows (last occurrence NOT marked as duplicate):\n",
      df_duplicates.duplicated(keep='last'))
# Output:
# 0     True
# 1     True
# 2     True
# 3    False
# 4    False
# 5    False
# 6    False
# dtype: bool

print("\nBoolean Series of duplicated rows (ALL duplicates marked as True):\n",
      df_duplicates.duplicated(keep=False))
# Output:
# 0     True
# 1     True
# 2     True
# 3    False
# 4     True
# 5     True
# 6    False
# dtype: bool

# Drop duplicates, keeping the first occurrence by default
df_no_duplicates_first = df_duplicates.drop_duplicates() # keep='first' is default
print("\nDataFrame after dropping all-column duplicates (keeping first):\n", df_no_duplicates_first)
# Output: Rows 1, 4, 5 will be dropped.

# Drop duplicates based on 'colA' and 'colB' only, keeping the last occurrence
df_no_duplicates_subset_last = df_duplicates.drop_duplicates(subset=['colA', 'colB'], keep='last')
print("\nDataFrame after dropping duplicates based on 'colA' & 'colB' (keeping last):\n", df_no_duplicates_subset_last)
# Considering (colA, colB):
# (1,x) appears at 0, 1, 5. Keeps row 5.
# (2,y) appears at 2, 4. Keeps row 4.
# (3,z) appears at 3. Keeps row 3.
# (4,w) appears at 6. Keeps row 6.

Original DataFrame with duplicates:
    colA colB  colC
0     1    x   100
1     1    x   100
2     2    y   200
3     3    z   300
4     2    y   200
5     1    x   100
6     4    w   400

Boolean Series of duplicated rows (first occurrence NOT marked as duplicate):
 0    False
1     True
2    False
3    False
4     True
5     True
6    False
dtype: bool

Boolean Series of duplicated rows (last occurrence NOT marked as duplicate):
 0     True
1     True
2     True
3    False
4    False
5    False
6    False
dtype: bool

Boolean Series of duplicated rows (ALL duplicates marked as True):
 0     True
1     True
2     True
3    False
4     True
5     True
6    False
dtype: bool

DataFrame after dropping all-column duplicates (keeping first):
    colA colB  colC
0     1    x   100
2     2    y   200
3     3    z   300
6     4    w   400

DataFrame after dropping duplicates based on 'colA' & 'colB' (keeping last):
    colA colB  colC
3     3    z   300
4     2    y   200
5     1    x   100
6     4    w   400

**3.3 Data Type Conversion**

Ensuring columns have the correct data types is essential for accurate computations, analysis, and memory efficiency. Pandas often infers data types during loading (`read_csv`), but sometimes explicit conversion is needed. *[46]*

* **`df['column'].astype(new_type)`** or `df.astype({'column1': new_type1, 'column2': new_type2})`
    * Converts the data type of one or more columns. *[46]*
    * `new_type` can be:
        * Python types: `int`, `float`, `str`, `bool`.
        * NumPy dtypes: `np.int64`, `np.float64`, `np.bool_`, etc.
        * Special Pandas type: `'category'` (for columns with a limited number of unique string values; can save memory and speed up some operations). *[48]*
        * Datetime: `'datetime64[ns]'`.
    * **Common Conversions & Potential Issues:**
        * **Object to Numeric (`int`, `float`):**
            * `df['col'].astype(float)` or `df['col'].astype(int)`.
            * Will raise a `ValueError` if the column contains non-numeric strings (e.g., '$15,000.00', 'Unknown'). *[46]*
            * Requires pre-cleaning (e.g., removing currency symbols, commas, handling non-numeric placeholders) before conversion.
        * **Numeric to String:** `df['col'].astype(str)`.
        * **Object to Category:** `df['col'].astype('category')`.
        * **Object/String to Datetime:** `df['col'].astype('datetime64[ns]')` or, more robustly, `pd.to_datetime(df['col'])`.

In [107]:
df_types_raw = pd.DataFrame({'A_str_int': ['10', '25', '30', '15'],
                                 'B_str_float': ['100.5', '200.0', '350.75', '99.9'],
                                 'C_category_like': ['Type1', 'Type2', 'Type1', 'Type3'],
                                 'D_mixed': ['50', '60.5', 'Error', '70']})
    print("Original DataFrame dtypes:\n", df_types_raw.dtypes)
    # All will likely be 'object'

    df_types_converted = df_types_raw.copy()

    # Convert column 'A_str_int' to integer
    df_types_converted['A_str_int'] = df_types_converted['A_str_int'].astype(int)

    # Convert column 'B_str_float' to float
    df_types_converted['B_str_float'] = df_types_converted['B_str_float'].astype(float)

    # Convert column 'C_category_like' to category
    df_types_converted['C_category_like'] = df_types_converted['C_category_like'].astype('category')

    print("\nDataFrame dtypes after astype():\n", df_types_converted.dtypes)
    print("\nDataFrame after astype():\n", df_types_converted.head())
    # Note: df_types_converted['D_mixed'].astype(float) would raise a ValueError due to 'Error'

IndentationError: unexpected indent (<ipython-input-107-65bab160f04e>, line 5)

* **`pd.to_numeric(arg, errors='raise')`**: Specialized function to convert an argument (Series, list, scalar) to a numeric type. More flexible in handling errors than `astype()`.
    * `arg`: The Series or column to convert.
    * `errors`: Defines how to handle values that cannot be converted to numeric.
        * `'raise'` (default): Raises a `ValueError` if an unparseable value is encountered.
        * `'coerce'`: Replaces unparseable values with `NaN`. This is very useful for cleaning. *[48]*
        * `'ignore'`: If invalid parsing occurs, returns the input object unchanged (so the column might remain of object type or mixed type).
* **`pd.to_datetime(arg, errors='raise', format=None)`**: Converts an argument to datetime objects.
    * `arg`: The Series or column to convert.
    * `errors`:
        * `'raise'` (default): Raises a `ValueError` for unparseable dates.
        * `'coerce'`: Replaces unparseable dates with `NaT` (Not a Time, the datetime equivalent of `NaN`).
        * `'ignore'`: Returns the input if unparseable.
    * `format`: A string representing the expected date format (e.g., `'%Y-%m-%d'`, `'%d/%m/%Y %H:%M:%S'`). If not provided, Pandas tries to infer the format, which is flexible but can be slower or ambiguous for mixed formats. Providing a format string improves performance and reliability if your dates are consistent.

In [ ]:
df_convert_robust = pd.DataFrame({'price_str': ['$100.50', '50', 'NotANumber', ' $75.20 '],
                                      'date_str': ['2025-01-15', '20/02/2025', 'Invalid Date', 'Mar 3, 2025'],
                                      'value_str': ['123', '45.6', '789', 'non_numeric']})

    # Clean and convert price_str to numeric, coercing errors
    # 1. Remove currency symbols and spaces
    df_convert_robust['price_cleaned'] = df_convert_robust['price_str'].str.replace(r'[$,\s]', '', regex=True)
    # 2. Convert to numeric
    df_convert_robust['price_numeric'] = pd.to_numeric(df_convert_robust['price_cleaned'], errors='coerce')
    print("\nAfter pd.to_numeric on price_str (with cleaning):\n", df_convert_robust[['price_str', 'price_numeric']])

    # Convert date_str to datetime, coercing errors (Pandas tries to infer format)
    df_convert_robust['date_dt_auto'] = pd.to_datetime(df_convert_robust['date_str'], errors='coerce')
    print("\nAfter pd.to_datetime on date_str (auto-infer, coercing errors):\n", df_convert_robust[['date_str', 'date_dt_auto']])

    # Example of converting specific format (if all were like '20/02/2025')
    # df_convert_robust['date_dt_specific'] = pd.to_datetime(df_convert_robust['date_str'], format='%d/%m/%Y', errors='coerce')
    # print("\nAfter pd.to_datetime with specific format '%d/%m/%Y':\n", df_convert_robust[['date_str', 'date_dt_specific']])

    # Using errors='coerce' with pd.to_numeric is a common and robust strategy.
    df_convert_robust['value_numeric'] = pd.to_numeric(df_convert_robust['value_str'], errors='coerce')
    print("\nConverting 'value_str' to numeric with errors='coerce':\n", df_convert_robust[['value_str', 'value_numeric']])

**3.4 Renaming Columns**

Column names may need to be changed for clarity, consistency (e.g., standardizing case, removing spaces), or to make them valid Python identifiers if they contain special characters.

* **`df.rename(columns={'old_name1': 'new_name1', 'old_name2': 'new_name2'}, inplace=False)`**: Renames one or more columns using a dictionary that maps old names to new names. *[49]*
    * Can also rename index labels using the `index` parameter (e.g., `index={'old_idx': 'new_idx'}`).
    * `inplace=False` (default): Returns a new DataFrame with renamed columns/index. Original is unchanged.
    * `inplace=True`: Modifies the DataFrame directly.
* **`df.columns = ['new_name1', 'new_name2', ...]`**: Assigns a new list of column names directly.
    * The list provided **must** have the same length as the number of existing columns.
    * This method is suitable for renaming all columns at once or if you have a programmatic way to generate all new names. *[50]*

In [ ]:
df_rename_raw = pd.DataFrame({'First Name': ['John', 'Jane', 'Mike'],
                              'Last Name': ['Doe', 'Smith', 'Ross'],
                              'Age_ yrs': [30, 28, 35],
                              'email address': ['j.doe@mail.com', 'jane@mail.com', 'm.ross@mail.com']})
print("Original DataFrame for renaming:\n", df_rename_raw)

# Rename specific columns using df.rename() (returns a new DataFrame)
df_renamed_specific = df_rename_raw.rename(columns={'First Name': 'FirstName',
                                                    'Last Name': 'LastName',
                                                    'Age_ yrs': 'Age',
                                                    'email address': 'EmailAddress'})
print("\nAfter renaming specific columns (new DataFrame returned):\n", df_renamed_specific)
print("\nOriginal DataFrame (should be unchanged):\n", df_rename_raw) # Verifies original is unchanged

# Rename all columns by assigning a new list to df.columns
# This modifies the DataFrame in-place. Let's work on a copy.
df_rename_all = df_rename_raw.copy()
new_column_names = ['FName', 'LName', 'CurrentAge', 'Email']
if len(new_column_names) == len(df_rename_all.columns):
    df_rename_all.columns = new_column_names
    print("\nAfter renaming all columns by direct assignment:\n", df_rename_all)
else:
    print("\nError: Length of new column names list does not match number of columns.")

# Tip: Clean column names (e.g., lowercase, replace spaces with underscores)
df_clean_cols = df_rename_raw.copy()
df_clean_cols.columns = df_clean_cols.columns.str.lower().str.replace(' ', '_').str.replace('[^A-Za-z0-9_]+', '', regex=True)
print("\nAfter cleaning all column names systematically:\n", df_clean_cols)
# This uses string methods on the Index object of column names.

* **Choosing a Method:**
    * `rename()`: More flexible for renaming a subset of columns, or renaming based on a function. Safer as it returns a new DataFrame by default. *[49]*
    * Direct assignment to `df.columns`: Quicker for a complete overhaul of all column names if you have the full list of new names. Modifies in-place.

---

**Module 3: Practice Questions**

41. **True/False:** In Pandas, `NaN` stands for "Not a Number" and is used to represent missing data.
42. **Pandas Method:** Which method would you use to get a count of missing values for each column in a DataFrame `df_data`?
43. **MCQ:** If you want to drop rows from `df_data` only if *all* values in that row are missing, what parameters would you use with `dropna()`?
    * A) `axis=0, how='any'`
    * B) `axis=1, how='all'`
    * C) `axis=0, how='all'`
    * D) `axis=1, how='any'`
44. **Short Answer:** What is "imputation" in the context of handling missing data? Name two common imputation techniques for numerical data.
45. **Pandas Method:** How can you fill all `NaN` values in a numerical column 'Age' with the median age using `fillna()`? Write the code. (Assume `df_data` is your DataFrame).
46. **Explain:** What is the difference between `method='ffill'` and `method='bfill'` in `fillna()`? When might you use them?
47. **Coding:** You have a DataFrame `df_sales` with columns 'Product_ID' and 'Region'. Some 'Region' values are missing. You want to impute these missing 'Region' values with the mode of the 'Region' column. Write the code.
48. **Pandas Method:** Which method is used to identify duplicate rows in a DataFrame?
49. **Parameter:** In `df.drop_duplicates()`, what does the `keep` parameter control? What are its possible values?
50. **Coding:** Given a DataFrame `df_orders`, remove duplicate rows based on all columns, keeping the *last* occurrence. Modify the DataFrame in-place.
51. **Pandas Method:** Which method is primarily used to convert the data type of a Pandas Series or DataFrame column?
52. **Scenario:** You have a column 'Price_Text' with string values like "25.99", "$10.50". You want to convert this to a numeric (float) column named 'Price_Numeric'. Outline the steps you would take, including handling potential errors.
53. **Function:** Which Pandas function is more robust for converting a column to numeric types and allows you to coerce errors into `NaN`s?
54. **Function:** Which Pandas function is used to convert a column of string dates into datetime objects? What parameter helps if the dates are in non-standard formats?
55. **Coding:** Rename a column ' old name with spaces ' to 'new_concise_name' in `df_data`. Do this without modifying `df_data` in-place.
56. **Coding:** You have a DataFrame `df_raw` with columns `['User ID', 'Transaction Date', 'Amount (USD)']`. Provide the code to change these column names to `['user_id', 'transaction_date', 'amount_usd']`.
57. **Critical Thinking:** Why is it generally better to use `errors='coerce'` with `pd.to_numeric` or `pd.to_datetime` during initial data cleaning rather than letting the operation fail?
58. **Pandas Method:** How can you check if *any* value in an entire DataFrame `df` is `NaN` with a single boolean output?
59. **Imputation Strategy:** If a numerical column has many outliers, would mean imputation or median imputation be a more robust choice? Why?
60. **Code:** Given `df_missing` from the module notes, drop any column that has more than 1 missing value. (Hint: You might need to iterate or use a comprehension with `df.isnull().sum()`).

---
*(Continued in next response due to length limitations)*

<div class="md-recitation">
  Sources
  <ol>
  <li><a href="https://www.scribd.com/document/681281393/210130107085-PDS-Practical">https://www.scribd.com/document/681281393/210130107085-PDS-Practical</a></li>
  <li><a href="https://medium.com/@tim.po.developer/must-know-python-libraries-for-dominating-finance-your-essential-toolkit-f4c25a0f6d30">https://medium.com/@tim.po.developer/must-know-python-libraries-for-dominating-finance-your-essential-toolkit-f4c25a0f6d30</a></li>
  <li><a href="https://medium.com/coders-mojo/implemented-scikit-learn-projects-c0e65f70e54e">https://medium.com/coders-mojo/implemented-scikit-learn-projects-c0e65f70e54e</a></li>
  <li><a href="https://github.com/BladimirBL/Talento-Tech">https://github.com/BladimirBL/Talento-Tech</a></li>
  </ol>
</div>